.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:aliceblue;
  height: 100vh;
}
.main-image{
  width:100vw;
  height: 70vh;
}

.normalLevel {
  padding: 2vh 3vw 2vh 3vw;
  margin-top: 10vh;
  background-color: greenyellow;
  cursor: pointer;
  border-radius: 5%;
}

.bonusLevel {
  padding: 2vh 3vw 2vh 3vw;
  margin-top: 5vh;
  background-color: greenyellow;
  cursor: pointer;
  border-radius: 5%;
}



